.top-menu .top-menu-list li .sub_menu,
.mg-pager ul li a,
.wrapper .mg-product-to-compare .mg-compare-count,
.top-auth-block,
.header .top-menu,
.filter-form .ui-slider .ui-slider-range,
.footer-top{
    background: #795548;
}

.top-menu .top-menu-list li .sub_menu > li > a:hover,
.top-menu .top-menu-list li:hover > a,
.mg-pager ul li a:hover,
.mg-pager ul li a.active {
    background: #A97765;
}

.header .mg-desktop-cart .small-cart,
.header .mg-desktop-cart,
.wrapper .container .center .personal-tabs-list .ui-state-active,
.m-p-new-products-title a,
.m-p-sale-products-title a,
.m-p-recommended-products-title a,
.product-details-wrapper .product-tabs li.active a{
    border: 1px solid #795548;
}

.m-p-new-products-title,
.m-p-sale-products-title,
.m-p-recommended-products-title,
.product-details-wrapper .product-tabs,
.wrapper .container .center .personal-tabs-list{
    border-bottom: 1px solid #795548;
}

.product-details-wrapper .product-tabs li a,
.m-p-new-products-title a,
.m-p-sale-products-title a,
.m-p-recommended-products-title a{
    color: #795548;
}

.wrapper .read-more,
.wrapper .news-block .news-footer a{
    color: #795548;
    border: 1px solid #795548;
}